// Swatches and preview strip in Mailspring's theme picker.
@background-secondary: #121212;
@text-color: #f5f5f5;
@component-active-color: #ffffff;
@toolbar-background-color: #131313;
@panel-background-color: #1b1b1b;
